<body>
<header>
<div class="container">
<div class="logo"><strong><h1>FlamingBlaze</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", flamingblaze_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", flamingblaze_about_url, class: 'a' %>
</li>
<li>
<%= link_to "Discord", flamingblaze_discord_url, class: 'a' %>
</li>
<li>
<%= link_to "Rules", flamingblaze_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", flamingblaze_contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>
<div class="gap"></div>
<center>
<div class="textContainer">
<h1>What is FlamingBlaze</h1>
<p>FlamingBlaze is a Youtuber and Discord community for others to love and have fun together. FlamingBlaze joined the youtube community on 21 Dec 2020 from then on he decided to grow his channel with his freetime, then a fellow friend named Kevin approached him and built him this website. He then proceed to help FlamingBlaze to grow his channels in future SMP gameplay.</p>
</div>
</center>
