<body>
<header>
<div class="container">
<div class="logo"><strong><h1>FlamingBlaze</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", flamingblaze_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", flamingblaze_about_url, class: 'a' %>
</li>
<li>
<%= link_to "Discord", flamingblaze_discord_url, class: 'a' %>
</li>
<li>
<%= link_to "Rules", flamingblaze_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", flamingblaze_contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>
<div class="gap"></div>
<center>
<div class="textContainer">
<p>Email: flamingblaze8378@gmail.com</p>
<p>Twitter: FlamingBlaze8</p>
</div>
</center>