<body>
<header>
<div class="container">
<div class="logo"><strong><h1>FlamingBlaze</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", flamingblaze_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", flamingblaze_about_url, class: 'a' %>
</li>
<li>
<%= link_to "Discord", flamingblaze_discord_url, class: 'a' %>
</li>
<li>
<%= link_to "Rules", flamingblaze_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", flamingblaze_contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>

<div class="gap"></div>
<center>
<div class="textContainer">
<h1>Join Our <span class="PureSMP">Discord</span></h1>
<div class="gap"></div>

<iframe src="https://discord.com/widget?id=791340720078061568&theme=dark" width="400" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</center>
<div class="gap">