<body>
<header>
<div class="container">
<div class="logo"><strong><h1>FlamingBlaze</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", flamingblaze_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", flamingblaze_about_url, class: 'a' %>
</li>
<li>
<%= link_to "Discord", flamingblaze_discord_url, class: 'a' %>
</li>
<li>
<%= link_to "Rules", flamingblaze_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", flamingblaze_contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>
<div class="gap"></div>
<center>
<div class="textContainer">
<h1>Joining methods</h1>
<p>Inorder to join the FlamingBlaze community, you must go to the discord section to join the discord server, then you need to subscribe and also join our SMP. The SMP ip is FlamingBlazeSMP.aternos.me. The version of Minecraft is 1.16.4 and its only made for Java Edition.</p>
<p>join our <%= link_to "Discord", flamingblaze_discord_url %></p>
</div>
<hr>
</center>

<center>
<div class="textContainer">
<h1>SMP operating hours</h1>
<p>
Monday: 6:00 PM - 9:00 PM






</p>
<p>Tuesday: 6:00 PM - 9:00 PM</p>
<p>Wednesday: 8:00 PM - 9:00 PM</p>
<p>Thursday: 6:00 PM - 9:00 PM</p>
<p>Friday: 6:00 PM - 9:00 PM</p>
<p>Saturday: 7:00 PM - 9:00 PM</p>
<p>Sunday: 5:00 PM - 9:00 PM</p>

<p class="red">Schedules may vary due to community updates! Check annoucements channel in discord server!</p>

</div>

</center>